.col-sm-8 {
	float: left;
}

.col-sm-4 {
	float: right;
}

.logo {
	height: 50px;
}

.navbar-static-top {
	padding-bottom: 0px;
	list-style: none;
	background: #ffffff;
	border: none;
	height: 50px;
	position: relative;
}

.navbar a {
	font-family: sans-serif;
	color: black;
	display: inline-block;
}

.icon-bar {
	background-color: #000000;
}

.navbar-toggle {
	color: #ffffff;
	border-color: RGBA(0, 0, 0, 0);
	position: right;
}

.menu {
	border-left: #C4C4C4 5px solid;
	background: #ffffff;
}
.nav > .menu > a:focus, .nav > .menu > a:hover {
	transition: 0.5s;
    text-decoration: none;
    background-color: #C4C4C4;
}

.menu1 {
	border-left: #FF6961 5px solid;
	background: #ffffff;
}
.nav > .menu1 > a:focus, .nav > .menu1 > a:hover {
	transition: 0.5s;
    text-decoration: none;
    background-color: #FF6961;
}

.menu2 {
	border-left: #FFB347 5px solid;
	background: #ffffff;
}
.nav > .menu2 > a:focus, .nav > .menu2 > a:hover {
	transition: 0.5s;
    text-decoration: none;
    background-color: #FFB347;
}

.menu3 {
	border-left: #FDFD96 5px solid;
	background: #ffffff;
}
.nav > .menu3 > a:focus, .nav > .menu3 > a:hover {
	transition: 0.5s;
    text-decoration: none;
    background-color: #FDFD96;
}

.menu4 {
	border-left: #77DD77 5px solid;
	background: #ffffff;
}
.nav > .menu4 > a:focus, .nav > .menu4 > a:hover {
	transition: 0.5s;
    text-decoration: none;
    background-color: #77DD77;
}

.menu5 {
	border-left: #A4BAED 5px solid;
	background: #ffffff;
}
.nav > .menu5 > a:focus, .nav > .menu5 > a:hover {
	transition: 0.5s;
    text-decoration: none;
    background-color: #A4BAED;
}

.menu6 {
	border-left: #CB99C9 5px solid;
	background: #ffffff;
}
.nav > .menu6 > a:focus, .nav > .menu6 > a:hover {
	transition: 0.5s;
    text-decoration: none;
    background-color: #CB99C9;
}

.menu7 {
	border-left: #FF99EC 5px solid;
	background: #ffffff;
}
.nav > .menu7 > a:focus, .nav > .menu7 > a:hover {
	transition: 0.5s;
    text-decoration: none;
    background-color: #FF99EC;
}

.menu8 {
	border-left: #000000 5px solid;
	background: #ffffff;
}

.nav > .menu8 > a:focus, .nav > .menu8 > a:hover {
	transition: 0.5s;
    text-decoration: none;
    background-color: #000000;
    color: #ffffff;
}

.sub-menu {
	position: absolute;
	border-left: #FF6961 5px solid;
	background: #ffffff;
}

.dropdown-menu > .submenu > a:focus, .dropdown-menu > .submenu > a:hover {
	transition: 0.5s;
    text-decoration: none;
    background-color: #FF6961;
}

.sub-menu ul a {
	width: 135px;
	line-height: 40px;
	padding: 0 20px;
	display: inline-block;
	background: #FF6E6E;
}

.sub-menu ul li {
	position: relative;
	float: left;
	background: #FF6961;
}

.sub-menu ul {
	position: absolute;
	top: -9999999px;
	left: 0;
	opacity: 0;
	background: #fff;
	text-align: left;
}

.icit_weather_widget {
	width: 74%;
	margin: -20px 0px;
}

.body{
	
	color: #333;
	background: #eee;
	font-family: sans-serif;
	height: 100%;
	padding: 20px; 
	margin-top: 100px;
}

.blog-element { 
	display: block; 
	height: 200px; 
	overflow: hidden; 
	background: center center; 
	background-repeat: no-repeat; 
	background-size: cover; 
}
.blog-element a { 
	color: #383838; 
	text-shadow: 0 1px 3px rgba(0,0,0,0.5); 
}


.second-row-padding:nth-child(2) { 
	padding-right: 0; 
	padding-left: 0; 
}
.second-row-padding:nth-child(3) { 
	padding-left: 0; padding-right: 0; 
}

.third-row-padding { 
	padding: 0; 
}
.third-row-padding:nth-child(2) { 
	padding-left: 15px; 
}
.third-row-padding:nth-child(3) { 
	padding-right: 15px; 
}

.search-form-container {
	display: none;
}

.widget-area {
	float: right;
	padding-left: 30px;
}

.upw-posts .entry-title {
	margin-left: 0%;
}
.posts {
	margin-left: 35%;
}

.myIframe {
	position: relative;
	padding-bottom: 65.25%;
	padding-top: -10px;
	width: 500pt;
	height: 1000pt;
	overflow: auto; 
	-webkit-overflow-scrolling:touch; //<<--- THIS IS THE KEY 
	border: solid black 1px;
	margin-left: 30%;
} 
.myIframe iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 500pt;
	height: 1000pt;
	border-width: 0px #ffffff;
}

.comments-area {
	margin-left: 29%;
	margin-bottom: 10%;
}

.footer {
	bottom: 0;
	padding-top: 30px;
	position: absolute;
	width: 100%;
}

.copyright {
	padding-left: 25px;
	padding-bottom: 15px;
}
